/*Global*/

@font-face {
    font-family: 'GothamPro-Light';
    src:
        url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff'),
        url('../fonts/GothamPro-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src:
        url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamProMedium';
    src:
        url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'GothamProBold';
    src:
        url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src:
        url('../fonts/Oswald.woff2') format('woff2'),
        url('../fonts/Oswald.woff') format('woff'),
        url('../fonts/Oswald.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --black: #272525;
    --white: #FEFEFE;
    --red: #E35A4D;
    --red_hover: #D05145;
    --red_active: #B5392D;
    --green: #009900;
    --dark_green: #006633;
    --gold: #CCA509;
    --light_gold: #DFBD38;
    --grey: #D9D9D9;
    --gotham_light: 'GothamPro-Light', serif;
    --gotham_regular: 'GothamPro', serif;
    --gotham_medium: 'GothamProMedium', serif;
    --gotham_bold: 'GothamProBold', serif;
    --oswald: 'Oswald', serif;
}

html, body, body p {
    font-family: var(--gotham_regular);
}

html, body {
    overflow-x: auto;
}

body {
    background-color: var(--white);
    color: var(--black);
}

body p {
    margin-bottom: inherit;
    color: var(--black);
}

body p strong {
    font-family: var(--gotham_bold);
}

body .container {
    max-width: 1465px;
}

.closed {
    overflow-y: hidden;
    height: 100vh;
}

body .container-fluid {
    max-width: 1690px;
}

figure {
    overflow: hidden;
}

figure img, a.gallery-tab-list__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body ul,
body li {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: inherit;
}

.gradient {
    background: linear-gradient(to bottom, var(--white), var(--grey));
}

body .button {
    font-family: var(--gotham_medium);
    color: var(--white);
    display: flex;
    text-transform: uppercase;
    align-items: center;
    padding: 10px 40px;
    font-size: 16px;
    line-height: 120%;
    background: var(--red);
    border: 1px solid var(--black);
    width: fit-content;
    min-height: 48px;
}

body .button.more-btn {
    margin: 50px auto 0;
    min-width: 272px;
}

body .top-box .button {
    margin-bottom: 0;
}

body .button.hero-box__button {
    position: relative;
    z-index: 4;
}

body .button.attention {
    -webkit-box-shadow: 0px 0px 15px 7px rgba(227, 90, 77, 0.8);
    -moz-box-shadow: 0px 0px 15px 7px rgba(227, 90, 77, 0.8);
    box-shadow: 0px 0px 15px 7px rgba(227, 90, 77, 0.8);
    min-height: 58px;
}

body .button.green {
    background: var(--green);
    min-height: 40px;
}

body .button.dark-green {
    background: var(--dark_green);
    min-height: 40px;
}

body .button.gold {
    background: var(--gold);
    min-height: 40px;
}

body .button:hover {
    background: var(--red_hover);
    border-color: var(--black);
}

body .button.gallery-tab-btns__button:hover {
    background: var(--black);
}

body .button.active {
    background: var(--red_active);
    border-color: var(--black)
}

body .button.green:hover, body .button.green:active {
    background: var(--dark_green);
}

body .button.gold:hover, body .button.gold:active,
body .button.dark-green:hover, body .button.dark-green:active {
    background: var(--black);
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.single section.routes {
    padding-top: 120px;
}

section.hero {
    padding-top: 0;
    padding-bottom: 0;
}

section.about {
    padding-bottom: 86px;
}

section.contacts {
    padding-top: 168px;
    padding-bottom: 70px;
}

section.single-services {
    padding-top: 82px;
    padding-bottom: 78px;
}

section.reviews, section.single-routes, section.route-geographics {
    padding-top: 0;
}

section.gradient-bg {
    background: linear-gradient(to bottom, var(--grey), var(--white));
}

section.top-lightness::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--grey) 30%, rgba(245, 245, 245, .2));
}

section.route-geographics::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, 0.8);
}

section.top-lightness.left::before {
    background: linear-gradient(to right, var(--grey) 1%, rgba(245, 245, 245, .2));
}

section.about.top-lightness.left::before {
    background: linear-gradient(to right, var(--grey) 38%, rgba(245, 245, 245, .2));
}

section.top-lightness .container, section.route-geographics .container {
    position: relative;
    z-index: 3;
}

.color-green {
    color: var(--dark_green);
}

.overlay::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 37, 37, .5);
}

.overlay.dark::before {
    background: rgba(39, 37, 37, .6);
}

.overlay .container-fluid, .overlay .container {
    position: relative;
    z-index: 2;
}

body .overlay.dark h2 {
    color: var(--white);
}

.post p:not(:last-of-type), .post ul, .post ol {
    margin-bottom: 30px;
}

section.lightness {
    position: relative;
}

section.lightness::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(217, 217, 217, .5);
}

.post ul {
    padding-left: 20px;
}

.post ol li {
    list-style-type: inherit;
}

.post ul li {
    padding-left: 0;
    margin-bottom: 4px;
    list-style-type: disc;
}

.post .share p {
    margin-bottom: 0;
}

body .single-wrap__content.post p, body .single-wrap__content.post li {
    font-size: 20px;
    line-height: 148%;
}

body h1 {
    margin-bottom: 14px;
    color: var(--white);
    line-height: 96%;
    font-family: var(--gotham_bold);
    font-size: 60px;
    text-align: right;

}

body h1.contacts__title {
    color: var(--black);
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 24px;
}

body h2 {
    margin-bottom: 80px;
    color: var(--black);
    line-height: 120%;
    font-family: var(--gotham_medium);
    font-size: 50px;
    position: relative;
    z-index: 2;
    font-weight: 500;
}

.single-route-wrap__text body h2 {
    margin-bottom: 33px;
}

body h2.centered-title {
    width: fit-content;
    margin: 0 auto 25px;
    top: -20px;
}

body h2.centered-title.reviews__title {
    margin-bottom: 108px;
}

body h2.big-title {
    font-size: 120px;
    color: rgba(39, 37, 37, .3);
    margin-bottom: -17px;
    font-family: var(--oswald);
    text-transform: uppercase;
    line-height: 120%;
    font-weight: 400;
}

body h2.big-title::before {
    display: none;
}

body h2.big-title.route-geo-left__title {
    font-size: 90px;
    margin-bottom: 40px;
}

body h2.big-title.menu__title {
    margin-bottom: 88px;
}

body h2.menu-category__title {
    margin-bottom: 43px;
}

body h3 {
    margin-bottom: 8px;
    color: var(--black);
    line-height: 120%;
    font-family: var(--gotham_medium);
    font-size: 24px;
}

body h3 span {
    color: var(--dark_green);
}

body h3.right-image__subtitle {
    font-size: 40px;
    margin-bottom: 46px;
}

body h3.service-item__title {
    font-size: 26px;
    margin-bottom: 0;
    line-height: 110%;
}

body h3.route-item__title {
    font-family: var(--oswald);
    text-transform: uppercase;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 8px;
}

body h3.route-item__title_actions {
    margin-bottom: 30px;
}

body h2::before {
    content: "";
    display: block;
    position: absolute;
    background: url('../img/h2_title_decor.svg') no-repeat center/contain;
    background-size: contain;
    left: -33px;
    width: 395px;
    height: 48px;
    top: -2px;
    z-index: -1;
}

body h2.centered-title::before {
    background: url('../img/h2_title_center_before.svg') no-repeat center/contain;
    width: 743px;
    height: 117px;
    top: -45%;
    left: 50%;
    transform: translateX(-50%);
}

body h4 {
    font-family: var(--gotham_medium);
    font-size: 22px;
    line-height: 130%;
}

body p {
    font-size: 16px;
    line-height: 130%;
    font-family: var(--gotham_regular);
}

.plashka {
    padding: 10px 30px;
    background: url('../img/gold-plashka.svg') no-repeat center/contain;
    position: relative;
    width: fit-content;
    margin: 0 auto 0 0;
}

.plashka p {
    position: relative;
    left: -15px;
    z-index: 3;
}

.plashka.fire::after {
    content: "";
    display: block;
    width: 83px;
    height: 83px;
    position: absolute;
    z-index: 2;
    top: -66px;
    right: -10px;
    background: url('../img/fire.svg') no-repeat center/contain;
}

.grid-two {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four {
    grid-template-columns: repeat(4, 1fr);
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.under-line {
    border-bottom: 1px solid var(--grey);
}


/*Media*/

@media (max-width:1599px) {
    body h2 {
        margin-bottom: 58px;
        font-size: 44px;
    }

    body h3.right-image__subtitle {
        font-size: 36px;
        margin-bottom: 33px;
    }

    body h2::before {
        left: -6px;
    }

    body h2.centered-title::before {
        width: 677px;
        height: 105px;
    }

    body h2.centered-title.reviews__title {
        margin-bottom: 76px;
    }

    body h2.big-title.route-geo-left__title {
        font-size: 85px;
    }

    body h2.big-title.menu__title {
        margin-bottom: 70px;
    }

    body .single-wrap__content.post p, body .single-wrap__content.post li {
        font-size: 18px;
    }
}

@media (max-width:1399px) {
    body h1 {
        font-size: 46px;
    }

    body h2 {
        margin-bottom: 50px;
        font-size: 40px;
    }

    body h2.big-title {
        font-size: 90px;
    }

    body h2.big-title.route-geo-left__title {
        font-size: 70px;
    }

    body h3 {
        font-size: 22px;
    }

    body h3.right-image__subtitle {
        font-size: 33px;
    }

    body h3.service-item__title {
        font-size: 24px;
    }

    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    section.gallery {
        padding-top: 76px;
        padding-bottom: 80px;
    }

    .single section.routes {
        padding-top: 100px;
    }

    body h2.centered-title::before {
        width: 548px;
        height: 85px;
    }

    .routes-bg__link {
        bottom: -2rem;
    }

    section.single-services {
        padding-bottom: 60px;
    }

    body h2.big-title.menu__title {
        margin-bottom: 48px;
    }

    body .button.more-btn {
        margin-top: 35px;
    }

    section.contacts {
        padding-top: 150px;
    }

}

@media (max-width:1199px) {
    .post p:not(:last-of-type), .post ul, .post ol {
        margin-bottom: 24px;
    }

    body h1 {
        text-align: left;
    }

    body h2 {
        font-size: 36px;
    }

    section {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .single section.routes {
        padding-top: 90px;
    }

    section.cta-2 {
        padding-top: 70px;
    }

    section.gallery {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    body .button {
        font-size: 14px;
        min-height: 42px;
    }

    body .button.attention {
        min-height: 48px;
    }

    .grid-three {
        grid-template-columns: repeat(2, 480px);
    }

    .grid-four {
        grid-template-columns: repeat(2, 1fr);
    }

    .reviews-list.grid-four {
        grid-template-columns: repeat(2, 470px);
    }

    body h2.big-title {
        font-size: 80px;
    }

    body h2.centered-title.reviews__title {
        margin-bottom: 54px;
    }

    body h2.big-title.route-geo-left__title {
        font-size: 60px;
    }

    section.contacts {
        padding-top: 140px;
    }
}

@media (max-width:991px) {
    section {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .single section.routes {
        padding-top: 90px;
    }

    section.right-image, section.contains {
        padding-bottom: 10px;
    }

    section.contains {
        background-position: left 20% top 0;
    }

    body h1 {
        font-size: 44px;
    }

    body .button.green, body .button.dark-green, body .button.gold {
        min-height: 33px;
        padding: 2px 25px;
        height: fit-content;
    }

    body h2 {
        font-size: 31px;
    }

    body h2::before {
        width: 310px;
        height: 38px;
    }

    body h2.big-title {
        font-size: 70px;
        margin-bottom: -9px;
    }

    body h3 {
        font-size: 20px;
    }

    body h3.right-image__subtitle {
        font-size: 27px;
    }

    body h3.service-item__title {
        font-size: 20px;
    }

    body p {
        font-size: 15px;
    }

    .grid-three {
        grid-template-columns: repeat(2, 372px);
    }

    body h2.centered-title::before {
        width: 500px;
        height: 77px;
    }

    .reviews-list.grid-four {
        grid-template-columns: repeat(2, 368px);
    }

    body h3.route-item__title.route-item__title_actions {
        font-size: 28px;
    }
}

@media (max-width:930px) and (max-height:420px) {
    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    section.single-services {
        padding-top: 60px;
    }

    .single section.routes {
        padding-top: 60px;
    }

    .post p:not(:last-of-type), .post ul, .post ol {
        margin-bottom: 18px;
    }

    body .single-wrap__content.post p, body .single-wrap__content.post li {
        font-size: 16px;
    }

    body h1 {
        font-size: 30px;
        line-height: 115%;
    }

    body h2 {
        font-size: 22px;
        margin-bottom: 33px;
    }

    body h3 {
        font-size: 16px;
    }

    body h3.right-image__subtitle {
        font-size: 20px;
        margin-bottom: 28px;
    }

    body p {
        font-size: 14px;
    }

    body .button {
        font-size: 13px;
        min-height: 38px;
        padding: 8px 30px;
    }

    body .button.attention {
        min-height: 42px;
    }

    .plashka.fire::after {
        width: 45px;
        height: 45px;
        top: -27px;
        right: -5px;
    }

    body h2.centered-title::before {
        width: 318px;
        height: 49px;
    }

    body h2.big-title {
        font-size: 55px;
        margin-bottom: -8px;
    }

    body h2.centered-title.reviews__title {
        margin-bottom: 26px;
    }

    body h2.big-title.route-geo-left__title {
        font-size: 38px;
        margin-bottom: 30px;
    }

    section.about {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    section.gallery {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    body h2.big-title.menu__title {
        margin-bottom: 42px;
    }

    section.contacts {
        padding-top: 106px;
        padding-bottom: 60px;
    }

    body h1.contacts__title {
        margin-bottom: 50px;
    }
}

@media (max-width:767px) {
    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .single section.routes {
        padding-top: 60px;
    }

    body h1 {
        font-size: 6.8vw;
        line-height: 100%;
    }

    body h2 {
        font-size: 22px;
        margin-bottom: 33px;
    }

    body h2.big-title {
        font-size: 46px;
        margin-bottom: -7px;
    }

    body h3 {
        font-size: 16px;
    }

    body h3.right-image__subtitle {
        font-size: 20px;
        margin-bottom: 28px;
    }

    body p {
        font-size: 14px;
    }

    body .button {
        font-size: 13px;
        min-height: 38px;
        padding: 8px 30px;
    }

    body .button.attention {
        min-height: 42px;
    }

    body .button.media__button {
        margin-right: auto;
    }

    .plashka.fire::after {
        width: 45px;
        height: 45px;
        top: -27px;
        right: -5px;
    }

    .grid-three {
        grid-template-columns: 1fr;
    }

    body h2.centered-title::before {
        width: 318px;
        height: 49px;
    }

    .grid-two, .grid-four, .reviews-list.grid-four {
        grid-template-columns: 1fr;
    }

    .route-params.grid-two {
        grid-template-columns: repeat(2, 1fr);
    }

    body h2.centered-title.reviews__title {
        margin-bottom: 40px;
    }

    body h2.big-title.route-geo-left__title {
        font-size: 38px;
        margin-bottom: 30px;
    }

    section.about.top-lightness.left::before {
        background: linear-gradient(to right, var(--grey) 38%, rgba(245, 245, 245, .8));
    }

    section.about {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    section.single-services {
        padding-top: 60px;
    }

    section.gallery {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    body h2.big-title.menu__title {
        margin-bottom: 42px;
    }

    body .single-wrap__content.post p, body .single-wrap__content.post li {
        font-size: 16px;
    }

    body .archive-route__bottom_actions .button {
        min-width: 276px;
    }

    section.contacts {
        padding-top: 106px;
        padding-bottom: 60px;
    }

    body h1.contacts__title {
        margin-bottom: 50px;
    }
}

@media (max-width:767px) and (max-height:420px) {
    .reviews-list.grid-four {
        grid-template-columns: repeat(2, 1fr);
    }

    body h1 {
        font-size: 27px;
    }
}

@media (max-width:439px) {
    body h2::before {
        width: 224px;
        height: 28px;
    }

    body h3.route-item__title {
        font-size: 28px;
    }

    body h2.centered-title::before {
        width: 280px;
        height: 44px;
    }

    body h2.big-title {
        font-size: 35px;
        margin-bottom: -4px;
    }

    body h2.centered-title.reviews__title {
        margin-bottom: 26px;
    }

    body h2.big-title.route-geo-left__title {
        font-size: 32px;
        margin-bottom: 26px;
    }

    section.gallery {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    body .button.more-btn {
        margin-top: 24px;
        min-width: fit-content;
        width: 100%;
    }

    body h3.route-item__title.route-item__title_actions {
        font-size: 26px;
    }

    body .archive-route__bottom_actions .button, body .archive-route__bottom_actions .action-block__bottom {
        min-width: fit-content;
        width: 100%;
    }
}