/*Menu global*/
:root {
    --burger_color: #E31E24;
    --my-font: 'Verdana', sans-serif;
    --black: #242424;
    --header_color: rgba(0, 0, 0, .08);
}

.closed {
    overflow-y: hidden;
    height: 100vh;
}

.header {
    background-color: rgba(217, 217, 217, 0.7);
    border-bottom: 1px solid var(--black);
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
}

.header__wrapper {
    gap: 80px;
}

.header__logo {
    width: 220px;
}

.header__tel {
    height: 100%;
    padding: 10px 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(39, 37, 37, .3);
    height: 80px;
}

.header__tel a {
    font-family: var(--gotham_medium);
    font-size: 30px;
    color: var(--white);
}

.header__tel:hover, .header__tel:focus {
    background-color: rgba(39, 37, 37, .8);
    transition: background-color .3s ease-in-out;
}

.header__tel:hover a, .header__tel:focus a {
    color: var(--white);
}

.hero-left .menu-osnovnoe-menyu-container {
    margin-bottom: 19vh;
}

.hero-left #primary-menu.menu {
    flex-direction: column;
}

#primary-menu li {
    padding: 2px 24px 2px 6px;
    display: list-item;
    transition: all .25s ease-in-out;
}

#primary-menu li:hover, #primary-menu li:focus {
    background: var(--black);
    transition: all .25s ease-in-out;
}

#primary-menu li:hover a, #primary-menu li:focus a {
    color: var(--white);
    transition: all .25s ease-in-out;
}

#primary-menu li a {
    color: var(--black);
    text-transform: uppercase;
    font-family: var(--gotham_medium);
    font-size: 16px;
}

.hero-left #primary-menu li a {
    font-size: 22px;
    font-family: var(--gotham_regular);
}

#primary-menu>li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: transparent;
    bottom: 2px;
    left: 0;
    transition: background-color .3s ease-in-out;
}

#primary-menu>li:hover::after {
    background-color: var(--black);
    transition: background-color .3s ease-in-out;
}

/*Burger menu*/
.burger {
    margin-left: auto;
    position: relative;
    z-index: 5;
    height: 28px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    transition: .5s ease-in-out;
    cursor: pointer;

    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.burger, .burger span {
    width: 34px;
    transform: rotate(0deg);

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.burger span {
    display: block;
    position: absolute;
    right: auto;
    left: 0;
    height: 3px;
    opacity: 1;
    background: var(--black);
    transition: .25s ease-in-out;

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

.burger span:first-child {
    top: 0;
}

.burger span:nth-child(2) {
    top: 10px;
}

.burger span:nth-child(3) {
    top: 21px;
    width: 28px;
}

.burger-close {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    z-index: 99;
}

.burger-close svg path {
    fill: var(--black);
}

/*Burger end*/


/*Media*/

@media (max-width:1399px) {
    .header__tel a {
        font-size: 24px;
    }

    .hero-left .menu-osnovnoe-menyu-container {
        margin-bottom: 14vh;
    }

    .header__logo {
        width: 180px;
    }
}

@media (max-width:1199px) {
    .menu-osnovnoe-menyu-container #primary-menu {
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    .header__wrapper {
        gap: 30px;
    }

    .header-center__nav {
        transform: translateX(-105vw);
        position: fixed;
        width: 450px;
        padding: 8rem 0 60px 10px;
        left: 0;
        top: 0;
        z-index: 99;
        height: 100%;
        grid-template-rows: 1fr auto;
        transition: transform .7s ease-in;
        background-color: rgba(217, 217, 217, 0.95);
    }

    .header-center__nav.opened {
        /* display: grid; */
        transform: translateX(0);
        transition: transform .7s ease-in;
    }

    .navbar-content {
        height: calc(100vh - 230px);
    }

    .hero-left .menu-osnovnoe-menyu-container {
        margin: 0 0 0 90px;
    }

    .hero-left #primary-menu li {
        padding: 2px 50px 2px 10px;
    }

}

@media (max-width:991px) {
    .header__tel {
        margin: 0 -11px 0 auto;
        height: 70px;
    }

    .header__logo {
        width: 160px;
    }

    .header__tel a {
        font-size: 22px;
    }

    .hero-left #primary-menu li a {
        font-size: 20px;
    }

    .hero-left .menu-osnovnoe-menyu-container {
        margin: 0 0 0 60px;
    }
}


@media (max-width:930px) and (max-height:420px) {
    .header__logo {
        width: 140px;
    }

    .header__tel {
        font-size: 18px;
    }

    .burger {
        height: 18px;
    }

    .burger span {
        width: 30px;
    }

    .burger-close svg {
        width: 25px;
        height: 25px;
    }

    .burger span:nth-child(3) {
        width: 20px;
    }

    .burger span:nth-child(2) {
        top: 8px;
    }

    .burger span:nth-child(3) {
        top: 17px;
    }

    #primary-menu li {
        padding: 3px 24px;
    }

    .hero-left #primary-menu li a {
        font-size: 18px;
    }

    .header__tel {
        height: 53px;
        padding: 8px 20px;
    }

    .header__wrapper {
        gap: 18px;
    }

    .header__tel a {
        font-size: 18px;
    }

    .header-center__nav {
        padding: 72px 0 25px 2px;
    }

    .navbar-content {
        height: calc(100vh - 133px);
    }
}

@media (max-width:767px) {
    .header__tel {
        height: 53px;
        padding: 8px 20px;
    }

    .header__wrapper {
        gap: 18px;
    }

    .header__tel a {
        font-size: 3.3vw;
    }

    .header__logo {
        width: 140px;
    }

    .header-center__nav {
        width: 100%;
        border: none;
    }

    .hero-left .menu-osnovnoe-menyu-container {
        margin: 0;
    }
}

@media (max-width:439px) {
    .header__tel {
        padding: 8px 10px;
    }

    .header__tel a {
        font-size: 16px;
    }
}

@media (max-width:374px) {
    .header__tel a {
        font-size: 15px;
    }

    #primary-menu li {
        padding: 1px 12px;
    }

    #primary-menu li a {
        font-size: 20px;
    }
}