/*Popups*/

.popup {
    /* display: block; */
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index: 999;
    background-color: rgba(0,0,0,.4);
}
.popup__wrapper {
    width:100%;
    height:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.popup__cont {
    width: 600px;
    max-height: 80vh;
    overflow-y:auto;
    background-color: var(--grey);
    padding: 40px;
    border: 1px solid var(--black);
}
.popup__cont * {
    text-align: center;
}
.popup__cont.zakaz-cont * {
    text-align: left;
}
h4.popup__heading {
    text-transform: uppercase;
    width: calc(100% - 50px);
}
button.popup__del {
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;  
    width: 26px;
    height: 26px;
    display: block;
    min-height: fit-content;
    margin-bottom: 2rem;
}
button.popup__del svg path {
    fill: var(--black);
    transition: fill .25s ease-in-out;
}
button.popup__del:hover svg path, button.popup__del:focus svg path {
    fill: var(--black);
    transition: fill .25s ease-in-out;
}
.popup__cont .social {
    margin: 0 auto;
    width: fit-content;
}

@media (max-width:1399px) {
    h3.popup__heading {
        font-size: 30px;
        margin-bottom: 3rem;
    }
}
@media (max-width:930px) and (max-height: 420px) {
    .popup__cont { 
        padding: 16px 20px;
    }
    button.popup__del {     
        margin-bottom: 1rem;
    }
    h3.popup__heading {
        font-size: 26px;
        margin-bottom: 2rem;
    }
}
@media (max-width:767px) {
    .popup__cont {
        width: 92%; 
        padding: 30px;
    }
    h3.popup__heading {
        font-size: 24px;
    }
}
@media (max-width:439px) {
    .popup__cont {      
        padding: 24px;
    }
    button.popup__del {    
        width: 22px;
        height: 22px;   
        margin-bottom: 1rem;
    }
    button.popup__del svg {    
        width: 100%;
        height: 100%;
    }
    h3.popup__heading {
        font-size: 20px;
        margin-bottom: 2rem;
    }
}


/*Popups end*/

