/*Social icons*/
.social {
    display: grid;
    grid-template-columns: repeat(3, 35px);
    gap: 10px;
    align-items: center;
}

.social__item {
    width: 100%;
    height: 35px;
    padding: 0;
}

.social__link {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.social__link.whatsapp {
    background-image: url('../img/whatsapp.svg');
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.hero-box__buttons .social__link.whatsapp {
    background-image: url('../img/whatsapp-white.svg');
}

.social__link.telegram {
    background-image: url('../img/Telegram.svg');
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.hero-box__buttons .social__link.telegram {
    background-image: url('../img/Telegram-white.svg');
}

.social__link.vk {
    background-image: url('../img/vk.svg');
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.hero-box__buttons .social__link.vk {
    background-image: url('../img/vk-white.svg');
}

.social__link.telegram:hover, .social__link.telegram:focus, .social__link.telegram:active {
    background-image: url('../img/Telegram-hover.svg');
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.social__link.whatsapp:hover, .social__link.whatsapp:focus, .social__link.whatsapp:active {
    background-image: url('../img/whatsapp-hover.svg');
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.social__link.vk:hover, .social__link.vk:focus, .social__link.vk:active {
    background-image: url('../img/vk-hover.svg');
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.social-buttons-block {
    gap: 60px;
}

@media (max-width:991px) {
    .social-buttons-block {
        gap: 20px;
        margin-top: 40px;
    }
}

@media (max-width:930px) and (max-height:420px) {
    .social-buttons-block {
        margin-top: 15px;
    }
}

@media (max-width:767px) {
    .social {
        grid-template-columns: repeat(3, 30px);
    }

    .social__item {
        height: 30px;
    }
}